@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('font/roboto-regular-webfont.woff') format('woff');
    src: url('font/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('font/roboto-bold-webfont.woff') format('woff');
    src: url('font/roboto-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    src: url('font/roboto-lightitalic-webfont.woff') format('woff');
    src: url('font/roboto-lightitalic-webfont.woff2') format('woff2');
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;

}

/* To create a column for the content with background color to extend to edge */

.header,
.hero,
.info,
.quote-container,
.sign-up-container,
.footer {
    display: flex;
    justify-content: center;
}

.header-container, 
.hero-container, 
.info-container, 
.sign-up-box {
    max-width: 1000px;
    padding: 0px 10px;
}


/* Shared colors and sizes */

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header-link,
.hero p {
    color: #e5e7eb;
    font-size: 18px;
}


/* Header styling */

.header-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.header img {
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 0 5px #151c25;
    margin-left: 10px;
    margin-top: 8px;
}

.header-link {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-link a {
    padding: 0px 4px;
}

.header-link a:link {
    color: inherit;
    text-decoration: none;
}

.header-link a:visited {
    color: #d5d7db;
    text-decoration: none;
}

.header-link a:hover {
    color: #fafcff;
    text-shadow: 0px 0px 10px #b1b8c3;
}

.header-link a:focus {
    color: #fafcff;
    text-shadow: 0px 0px 10px #b1b8c3;
}

.header-link a:active {
    color: #e5e5e5;
    text-shadow: 0px 0px 30px #d4d6d9;
}


/* Hero banner styling */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0px;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}


/*  viewport responsiveness

    wider screen */
@media (min-width: 700px) {
    .hero-text {
        flex: 1 1 auto;
        max-width: 48%;    
    }
    
    .hero-container img {
        flex: 1 1 0;
        width: 48%;
    }

    

}

/* narrower screen */
@media (max-width: 700px) {
    .hero-text {
        flex: 1 1 0;
     }
    
    .hero-container img {
        flex: 1 0 0;
        width: 300px;
    }
}

/* Button styling */

button {
    background-color: #3882f6;
    color: #f9faf8;
    min-width: 95px;
    padding: 5px 22px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
}

button:hover {
    background-color: #5c96f3;
}

.hero button:active {
    border-color: #e5e7eb;
}

.sign-up-box button {
    border-color: #f9faf8;
}

.sign-up-box button:active {
    border-color: transparent;
}

/* Info styling */
.info {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.info-container h2 {
    display: block;
    margin: 40px 0px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0px 0px;
    flex-wrap: wrap;
    width: auto;
}

.card {
    max-width: 180px;
}

.card img {
    max-width: 180px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
}

.card p {
    text-align: center;
}


/* Styling for inspiring quote */

.quote-container {
    justify-content: center;
    align-items: center;
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-box {
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Quote-box responsiveness for narrower screen */

@media (max-width: 915px) {
    .quote-box {
        max-width: auto;
        padding: 50px 50px;
    }
}

.quote-author {
    text-align: end;
}


/* Sign-up Styling */

.sign-up-container {
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    background-color: #3882f6;
    margin: 50px 10px;
    padding: 30px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.sign-up-box > * {
    flex: 1 1 auto;
}

.sign-up-text p {
    margin: 0px;
    color: #e7e7e7;
}

#sign-up-header {
    font-size: 20px;
    color: #f9faf8;
}