body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    
    margin: 0px;

}

.header,
.hero,
.info,
.quote,
.sign-up,
.footer {
    display: flex;
    justify-content: center;
}

.header-container, 
.hero-container, 
.info-container, 
.quote-container, 
.sign-up-container {
    max-width: 900px;
    padding: 0px 10px;
}

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header-link,
.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.header-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.header img {
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 0 5px #151c25;
    margin-left: 10px;
    margin-top: 8px;
}

.header-link {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0px;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

/* wider screen */
@media (min-width: 700px) {
    .hero-text {
        flex: 1 1 auto;
        max-width: 48%;    
    }
    
    .hero-container img {
        flex: 1 1 0;
        width: 48%;
    }

}

/* narrower screen */
@media (max-width: 700px) {
    .hero-text {
        flex: 1 1 0;
     }
    
    .hero-container img {
        flex: 1 0 0;
        width: 300px;
    }
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 22px;
    border-radius: 5px;
    border-style: solid;
}

button:hover {
    background-color: #5c96f3;
}

.hero button:active {
    border-color: #e5e7eb;
}

.sign-up-box button {
    border-color: #f9faf8;
}

.sign-up-box button:active {
    border-color: black;
}
